# bluetooth
allow qti_init_shell btnvtool_exec:file rx_file_perms;
allow qti_init_shell bluetooth_data_file:file { read getattr open };
allow qti_init_shell bluetooth_loader_exec:file { read open };
allow qti_init_shell hci_attach_dev:chr_file { read write ioctl open };
allow qti_init_shell qmuxd_socket:dir rw_dir_perms;
allow qti_init_shell qmuxd_socket:sock_file { create setattr };
unix_socket_connect(qti_init_shell, qmuxd, qmuxd)

# rmt_storage
allow qti_init_shell ctl_default_prop:property_service set;

# serialnoread
allow qti_init_shell self:capability sys_nice;
allow qti_init_shell serialnoread_prop:property_service set;
